USE [master]
GO
/****** Object:  Database [SistemaPrestamosPV]    Script Date: 3/28/2019 10:03:34 PM ******/
CREATE DATABASE [SistemaPrestamosPV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaPrestamosPV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SistemaPrestamosPV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaPrestamosPV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SistemaPrestamosPV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaPrestamosPV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaPrestamosPV]
GO
/****** Object:  Table [dbo].[Deudores]    Script Date: 3/28/2019 10:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deudores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Capital] [float] NULL,
	[Interes] [float] NULL,
	[FechaInicializacionPrestamo] [date] NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
 CONSTRAINT [PK_Deudores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
